<%- include('partials/header') %>
   
     
    <!--====form section start====-->
    <div   class="d-flex flex-row-reverse">
        <a class="btn btn-warning" onclick="opend()">Download report</a>

    </div>
    <div id="printTable" class="container-fluid summary-report-table col-md jumbotron ">
        <!-- <h3>Product Number: <%= productNumber %></h3> -->
       
        <h4 style=" font-weight:bold;text-align:center">FUNCTIONAL TEST REPORT - VENDING MACHINE </h4>
        <div class="d-flex justify-content-between">
            <h5>Model Selected: <%= Model %> </h5>
            <h5>Date: <%= date %>, Time: <%= time %></h5>
        </div>
        

        <h5>Machine Sr. No.: <%= MachineNumber %> </h5>
        <h5>Software Version: <%= SoftwareVersion %> </h5>
        <h5>Level00: <%= Level00 %> </h5>
        <h5>Level01: <%= Level01 %> </h5>
        <h5>Level11: <%= Level11 %> </h5>

        <h5>Water Filling Time: <%= WaterFillingTime %></h5>
        <h5>Water Heating Time: <%= WaterHeatingTime %></h5>
        <div class="table-wrapper-scroll-x my-custom-scrollbar">
            <table border="1" class="table table-dark table-hover table-data" cellspacing="0" width="100%">
                <tr>
                    <!-- <th>Itr</th> -->
                    <th>Criteria</th>
                    <th>Gear Box1</th>
                    <th>Gear Box2</th>
                    <th>Gear Box3</th>
                    <th>Mixer1</th>
                    <th>Mixer2</th>
                    <th>Mixer3</th>
                    <th>Water in Mixer1</th>
                    <th>Water in Mixer2</th>
                    <th>Water in Mixer3</th>
                    <th>Temp</th>
                    <th>Weight</th>
                    <th>Status</th>

                </tr>

                <% console.log(cycles[0])
                     cycles.forEach(function(data,index) { %>
                    <tr>
                        <!-- <td>
                            <%= index+1 %>
                        </td> -->
                        <td>
                            <%=data.Criteria%>
                        </td>
                        <td>
                            <%=data.GearBox1%>
                        </td>
                        <td>
                            <%=data.GearBox2%>
                        </td>
                        <td>
                            <%=data.GearBox3%>
                        </td>
                        <td>
                            <%=data.Mixer1%>
                        </td>
                        <td>
                            <%=data.Mixer2%>
                        </td>
                        <td>
                            <%=data.Mixer3%>
                        </td>
                        <td>
                            <%=data.WaterMixer1%>
                        </td>
                        <td>
                            <%=data.WaterMixer2%>
                        </td>
                        <td>
                            <%=data.WaterMixer3%>
                        </td>
                        <td>
                            <%=data.Temp%>
                        </td>
                        <td>
                            <%=data.Weight%>
                        </td>

                        <% if(data.Status==='true' ) { %>
                            <td>
                                <p style="color:#A8F72E">Pass</p>
                            </td>
                        <% } else { %>
                            <td>
                                <p style="color:#FF3C00">Fail</a>
                            </td>
                        <% } %>

                    </tr>
                    <% }) %>
            </table>
        </div>
        <h5>Temporary Count <%= TempCount.match(/\d/g).join("") %> </h5>
        <h5>Permanent Count <%= PerCount.match(/\d/g).join("") %> </h5>
        <% var t=LevelTemp.match(/\d/g).join("").substr(0,2);  %>
        <% var l=LevelTemp.match(/\d/g).join("").substr(2,4);  %>
        <h5>Level & Temperature T:<%=t  %> L:<%=l  %> </h5>
        <% if(TempCount.match(/\d/g).join("")=="000025" && PerCount.match(/\d/g).join("")=="000025"  ) { %>
            <div class='d-flex'><h5>Machine Test Results: &nbsp;</h5><h5 style="color:#A8F72E">Pass</h5></div>
        <% } else { %>
            <div class='d-flex'><h5>Machine Test Results: &nbsp;</h5><h5 style="color:#FF3C00">Fail</h5></div>
        <% } %>
    </div>

    <%- include('partials/footer') %>
